[Desktop Entry]
Name=KDE 5 Template Manager Plugin
Name[es]=Administrador de plantillas para KDE 5
Name[fr]=Plugin du gestionnaire de modèles KDE 5
Name[it]=Plugin per la gestione dei modelli di KDE 5
Name[de]=KDE 5 Vorlagen-Manager-Plugin
Name[pt]=Plugin do gerenciador de modelos do KDE 5
Name[ru]=Плагин менеджера шаблонов KDE 5
Name[nl]=KDE 5-sjabloonbeheerplug-in
Name[cs]=Plugin Správce šablon KDE 5
Name[pl]=Wtyczka menedżera szablonów KDE 5
Name[ro]=Plugin KDE 5 Manager șabloane
Name[et]=KDE 5 mallihalduri pistikprogramm
Name[fi]=KDE 5 Template Manager-laajennus
Name[sv]=KDE 5 Mall Manager Plugin
Name[nb]=KDE 5 Template Manager-programtillegg
Name[nn]=KDE 5 Template Manager-programtillegg
Name[no]=KDE 5 Template Manager-programtillegg
Name[tr]=KDE 5 Şablon Yöneticisi Eklentisi
Name[uk]=KDE 5 Şablon Yöneticisi Eklentisi
Name[is]=Viðbætur KDE 5 sniðmátastjóra
Name[el]=Πρόσθετο διαχειριστή προτύπων KDE 5
Name[hu]=KDE 5 Sablonkezelő beépülő modul
Name[da]=KDE 5 Template Manager-plugin
Icon=favorite
Type=Service
ServiceTypes=KonqPopupMenu/Plugin;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=TemplateCreator;TemplateEraser;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Manage template(s)
X-KDE-Submenu[es]=Gestionar plantilla(s)
X-KDE-Submenu[fr]=Gérer modèle(s)
X-KDE-Submenu[it]=Gestire i modello(i)
X-KDE-Submenu[de]=Vorlagen (n) verwalten
X-KDE-Submenu[pt]=Gerenciar modelo(s)
X-KDE-Submenu[ru]=управлять шаблон(ы)
X-KDE-Submenu[nl]=Sjablonen beheren
X-KDE-Submenu[cs]=Spravovat šablony
X-KDE-Submenu[pl]=Zarządzaj szablonami
X-KDE-Submenu[ro]=Gestionați șabloanele
X-KDE-Submenu[et]=Mallide haldamine
X-KDE-Submenu[fi]=Hallitse malleja
X-KDE-Submenu[sv]=Hantera mallar
X-KDE-Submenu[nb]=Administrer mal(er)
X-KDE-Submenu[nn]=Administrer mal(er)
X-KDE-Submenu[no]=Administrer mal(er)
X-KDE-Submenu[tr]=Şablonları yönet
X-KDE-Submenu[uk]=Керувати шаблонами
X-KDE-Submenu[is]=Hafa umsjón með sniðmátum
X-KDE-Submenu[el]=Διαχείριση προτύπων
X-KDE-Submenu[hu]=Sablon (ok) kezelése
X-KDE-Submenu[da]=Administrer skabeloner
Encoding=UTF-8

[Desktop Action TemplateCreator]
Name=Create template...
Name[es]=Crear plantilla...
Name[fr]=Créer un modèle...
Name[it]=Crea modello...
Name[de]=Vorlage erstellen...
Name[pt]=Criar modelo...
Name[ru]=Создать шаблон...
Name[nl]=Sjabloon maken...
Name[cs]=Vytvořit šablonu...
Name[pl]=Utwórz szablon...
Name[ro]=Creați șablonul...
Name[et]=Malli loomine...
Name[fi]=Luo malli...
Name[sv]=Skapa mall...
Name[nb]=Opprett mal...
Name[nn]=Opprett mal...
Name[no]=Opprett mal...
Name[tr]=Şablon oluştur...
Name[uk]=Створити шаблон...
Name[is]=Búa til sniðmát...
Name[el]=Δημιουργία προτύπου...
Name[hu]=Sablon létrehozása...
Name[da]=Opret skabelon...
Icon=xapp-favorite-symbolic
Exec=$HOME/.bin/TemplateCreator.sh %f

[Desktop Action TemplateEraser]
Name=Remove existing template(s)
Name[es]=Eliminar plantilla(s) existente(s)
Name[fr]=Supprimer les modèle(s) existant(s)
Name[it]=Rimuovi modello/i esistenti
Name[de]=Vorhandene Vorlage (en) entfernen
Name[pt]=Remover modelo(s) existente(s)
Name[ru]=Удалить существующие шаблон(ы)
Name[nl]=Gemaakte sjablonen verwijderen
Name[cs]=Odebrat existující šablony
Name[pl]=Usuń istniejące szablony
Name[ro]=Eliminați șabloanele existente
Name[et]=Eemalda olemasolevad mallid
Name[fi]=Poista olemassa olevat mallit
Name[sv]=Ta bort befintliga mallar
Name[nb]=Fjern eksisterende mal(er)
Name[nn]=Fjern eksisterende mal(er)
Name[no]=Fjern eksisterende mal(er)
Name[tr]=Mevcut şablonları kaldır
Name[uk]=Видалити існуючі шаблони
Name[is]=Fjarlægja núverandi sniðmát
Name[el]=Κατάργηση υπαρχόντων προτύπων
Name[hu]=Meglévő sablon (ok) eltávolítása
Name[da]=Fjern eksisterende skabeloner
Icon=delete
Exec=$HOME/.bin/TemplateEraser.sh